



<div class="col-lg-6" *ngIf="identity && identity.rol == 'ROL_ADMIN'">
	<h1>{{titulo}}</h1>

	<div *ngIf="alertMensaje">
		<div class="alert alert-info">
		  {{alertMensaje}}
		</div>
	</div>

	<form #formPrograma="ngForm" (ngSubmit)="onSubmit()">

		<p>
			<label>Nombre</label>
			<input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="programa.nombre" required class="form-control"/>
			<span *ngIf="!nombre.valid && nombre.touched">
				El nombre del programa es obligatorio
			</span>
		</p>

		<p>
			<label>Descripción</label>
			<textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="programa.descripcion" required class="form-control"></textarea>
			<span *ngIf="!descripcion.valid && descripcion.touched">
				La descripción es obligatoria
			</span>
		</p>

		<p>
			<label>Temporada</label>
			<input type="text" #temporada="ngModel" name="temporada" [(ngModel)]="programa.temporada" required class="form-control"/>
			<span *ngIf="!temporada.valid && temporada.touched">
				La temporada es obligatoria
			</span>
		</p>

		<div *ngIf="editable">
			<div class="programa_imagen_editar" *ngIf="programa.imagen && programa.imagen != 'null'">
				<img src="{{url + 'programa/logotipo/' + programa.imagen }}" />
			</div>

			<p>
				<label> Sube el logotipo del programa</label>
				<input type="file" placeholder="Subir logotipo..." (change)="fileChangeEvent($event)" />
			</p>
		</div>

		<input type="submit" value="{{titulo}}" [disabled]="!formPrograma.form.valid" class="btn btn-success"/>

	</form>
</div>

