


<div class="program-box" *ngIf="programa">
	<div id="programa-head-card">
		<div class="imagen">
			<img src="{{ url + 'programa/logotipo/' + programa.imagen }}" />
		</div>
		<div class="data">
			<h1>{{programa.nombre}}</h1>
			<p><strong>{{programa.canalradio.nombre}}</strong></p>
			<p>{{programa.temporada}}</p>
			<p>{{programa.descripcion}}</p>

			<a [routerLink]="['/crear-podcast', programa._id]" class="btn btn-default" *ngIf="identity.rol == 'ROL_ADMIN'">
				Añadir podcast
			</a>

			<a class="btn btn-warning"  href="{{url + 'RSS/' +  programa._id}}" >
				        
						<span class="glyphicon glyphicon-equalizer" ></span>  
			</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	<div id="marco-listado-podcasts" *ngIf="podcasts">
		<ul id="listado-podcasts">
			<li *ngFor="let podcast of podcasts" class="podcast-item">
				<div class="marco-podcats">
					<a class="btn btn-success" (click)="reproducirPodcast(podcast)">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</a>

					{{podcast.numero + '. '+ podcast.descripcion + ' - '+ podcast.duracion}}
				

					<div class="buttons" *ngIf="identity && identity.rol == 'ROL_ADMIN'">
									
						<a [routerLink]="['/editar-podcast', podcast._id]" class="btn btn-warning">
							Editar
						</a>

						<a (click)="siConfirmarBorrado(podcast._id)" class="btn btn-danger">
							Borrar
						</a>
					</div>

					<div class="seguro seguro-podcast" *ngIf="confirmado == podcast._id">
						<a (click)="siBorrarPodcast(podcast._id)" class="btn btn-danger">
							Eliminar
						</a>
						<a (click)="siCancelarPodcast()" class="btn btn-primary">
							Cancelar
						</a>
					</div>

					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>    

</div>


