/*Para todo el proyecto*/

html, body{
	margin: 0px;
	height: 100%;
	background: rgb(246, 221, 204  );  /*GRIS CLARITO*/  /*187, 208, 169     221, 247, 245     195, 213, 227        */   250, 245, 242
}

form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 400px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.jumbotron{
    background: rgb(246, 221, 204  );
}
.actived{
    border-bottom: 4px solid #F5F821;   /*#84BD00*/
    padding-bottom: 4px;
}

.central{
    height: 100%;
    overflow-y: scroll;
}

.seguro{
    margin-top: -30px;
    background: #641E16;  
    position: absolute;
    height: 40px;
    
}
/*MENU LATERAL*/
.titulo-cabecera {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;

}

.menu{
    text-align: center;
    color: white;
    background: #641E16;
    height: 100%;
}

.menu a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.menu a:hover{
    color: white;
}

.menu .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}


#usuario_identificado{
    text-decoration: center;
    background: #641E16;
    position: absolute;
    bottom:0px;
    border-top:1px solid #444;
    width: 75%;
}

#usuario_identificado .imagen_usuario{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;  /*para eliminar lo que sobresale del circulo*/
}

#usuario_identificado .imagen_usuario img{
    width: 57px;
}

.boton-salir{
    cursor:pointer;
}





.canalRadio_imagen_editar img{
   width: 150px;

}

.listado-CanalesRadio{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
    min-height: 400px;
}

.canalRadio-item{
    width: 23%;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    
    background: #641E16;   /*#222326*/
    /*border-radius: 100px;
    overflow: hidden; */
}

.canalRadio-item .canalRadio-imagen{
    height: 245px;
    
    width: 100%;
    overflow: hidden;
    background:  black;
    
    

    
}

.canalRadio-item .canalRadio-imagen img{
    
    height: 100%;
    width: 100%;



}

.canalRadio-item .canalRadio-nombre {
    
    color: white;
    padding: 10px;
    background: #black;


}

.canalRadio-item .canalRadio-nombre a{
    
    color: white;
   

}


#canalRadio-head-card .imagen{
    width: 170px;
    height: 170px;
    overflow: hidden;
    float: left;
    margin-right: 30px;

}

#canalRadio-head-card .imagen img{
   height: 170px;
   width: 100%; 

}