/*Para todo el proyecto*/

html, body{
	margin: 0px;
	height: 100%;
	background: rgb(246, 221, 204  );  /*GRIS CLARITO*/  /*187, 208, 169     221, 247, 245     195, 213, 227        */   /*250, 245, 242*/
    background-image:url('../imagenes/fondo.png');
}

form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 400px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.jumbotron{
    background: transparent; /*rgb(246, 221, 204  )*/ 

}
.actived{
    border-bottom: 4px solid #F5F821;   /*#84BD00*/
    padding-bottom: 4px;
}

.central{
    height: 100%;
    overflow-y: scroll;
}

.seguro{
    margin-top: -30px;
    background: #641E16;  
    position: absolute;
    height: 40px;
    
}


.seguro-podcast{
    right: 10px;
    margin-top: -35px;
    background: rgb(246, 221, 204  );
}


/*MENU LATERAL*/
.titulo-cabecera {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;

}

.menu{
    text-align: center;
    color: white;
    background: #641E16;
    height: 100%;
}

.menu a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.menu a:hover{
    color: white;
}

.menu .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}


#usuario_identificado{
    text-decoration: center;
    background: #641E16;
    position: absolute;
    bottom:0px;
    border-top:1px solid #444;
    width: 75%;
}

#usuario_identificado .imagen_usuario{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;  /*para eliminar lo que sobresale del circulo*/
}

#usuario_identificado .imagen_usuario img{
    width: 57px;
}

.boton-salir{
    cursor:pointer;
}


/*canales de radio y programas*/


.programa_imagen_editar img,
.canalRadio_imagen_editar img{
   width: 150px;

}

.listado-CanalesRadio,
.listado-programas{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
    min-height: 400px;
}

.canalRadio-item,
.programa-item{
    width: 23%;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    
    background: #641E16;   /*#222326*/
    /*border-radius: 100px;
    overflow: hidden; */
}

.canalRadio-item .canalRadio-imagen,
.programa-item .programa-imagen{
    height: 245px;
    
    width: 100%;
    overflow: hidden;
    background:  black;
    
    

    
}


.canalRadio-item .canalRadio-imagen img{
    
    height: 100%;
    width: 100%;



}

.programa-item .programa-imagen img{
    
    
    width: 100%;



}

.canalRadio-item .canalRadio-nombre,
.programa-item .programa-nombre {
    
    color: white;
    padding: 10px;
    background: #black;


}

.canalRadio-item .canalRadio-nombre a,
.programa-item .programa-nombre a{
    
    color: white;
   

}


/*  detalle de canales y programas */

#canalRadio-head-card .imagen, 
#programa-head-card .imagen{
    width: 170px;
    height: 170px;
    overflow: hidden;
    float: left;
    margin-right: 30px;

}

#canalRadio-head-card .imagen img,
#programa-head-card .imagen img{
   height: 170px;
   width: 100%; 

}




/*Programas*/
.listado-programas{
    height: auto;
    margin-top: 20px;
    margin-bottom: 750px;
    
}

.programa-item .programa-imagen{
    height: 200px;
}

.programa-item{
    height: 320px;
    margin-bottom: 20px;
}

.programa-item .programa-imagen img{
    width: 100%;
    height: 100%;
}


/*podcast*/
#listado-podcasts{
    margin: 0px;
    padding: 0px;
    min-height: 800px;
    padding-bottom: 200px;
}

.podcast-item{
    list-style: none; /*para que no muestre los puntos de la lista html*/
    border-bottom: 1px solid #ccc;
    padding-top: 3px;
}

.podcast-item .marco-podcats{
    padding: 12px;
}

.podcast-item .buttons{
    float:right;
}

.podcast-item .btn-success{
    margin-right: 10px;
}

/* reproductor */

.reproductor{
    /*background: rgb(246, 221, 204);*/
    background: transparent;
    position: fixed;
    width: 90.5%;
    bottom: 0;
    padding: 20px;
    margin-left: -15px;
    border-left: 1px solid #444;
    color: gray;
}

.reproductor .programa-imagen{
    float:left;
    width: 138px;
    height: 98px;
    overflow: hidden;
}

.reproductor .programa-imagen img{
    height: 100%;
}

.reproductor .fichero-podcast{
    width: 85%;
    height: 35px;
    margin-top: 7px;
    margin-left: 10px;
    float: left;
}

.reproductor audio{
    width: 100%;
    height: 40px;
}

