










<div [class.hidden]="!identity" class="central col-lg-11">
	
	<router-outlet></router-outlet>
</div>



<div *ngIf="!identity" class="col-lg-11">
     <div class="row">
        <div class="col-lg-11">
        			<h1>PODCAST-RADIO</h1>
        
        </div>
     </div>

	<div  class="col-lg-6">
		<!-- 
		<h1>Identificate</h1>
         --> 
			<div *ngIf="errorMessage">
				<div class="alert alert-info">
				  <strong>Error: </strong> {{errorMessage}}
				</div>
			</div>
			<form #InicioForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
				<fieldset>
					    <legend>Identificación....</legend>
						<p>
							<label>Correo electrónico:</label>
							<input type="email" #email="ngModel" name="email" [(ngModel)]="usuario.email" class="form-control" required />
							<span *ngIf="!email.valid && email.touched">
								El email es obligatorio
							</span>
						</p>

						<p>
							<label>Contraseña:</label>
							<input type="password" #password="ngModel" name="password" [(ngModel)]="usuario.password" class="form-control" required />
						</p>

						<input type="submit" value="Iniciar sesión" class="btn btn-primary" />
						<div class="checkbox">
  							<label><input type="checkbox"  id="reg" ng-model="checked" ng-init="checked=true" (click) ="registro()">Registrar</label>
						</div>
				</fieldset>		
			</form>

	</div>

	<div   style = "display:none" id ="content" class="col-lg-6">
		<!-- 
		<h1>Registrate</h1>
         -->
		<div *ngIf="msgRegistro">
			<div class="alert alert-info">
			  {{msgRegistro}}
			</div>
		</div>
         
		<form #registroForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
		  <fieldset>
					<legend>Registrar....</legend>
					<p>
						<label>Nombre:</label>
						<input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="usuario_reg.nombre" class="form-control" required />
						<span *ngIf="!nombre.valid && nombre.touched">
							El nombre es obligatorio
						</span>
					</p>

					<p>
						<label>Apellidos:</label>
						<input type="text" #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario_reg.apellidos" class="form-control" required />
						<span *ngIf="!apellidos.valid && apellidos.touched">
							Los apellidos son obligatorios
						</span>
					</p>

					<p>
						<label>Correo electrónico:</label>
						<input type="email" #email="ngModel" name="email" [(ngModel)]="usuario_reg.email" class="form-control" required />
						<span *ngIf="!email.valid && email.touched">
							El email es obligatorio
						</span>
					</p>

					<p>
						<label>Contraseña:</label>
						<input type="password" #password="ngModel" name="password" [(ngModel)]="usuario_reg.password" class="form-control" required />
						<span *ngIf="!password.valid && password.touched">
							La contraseña es obligatoria
						</span>
					</p>

					<input type="submit" value="Regristrarse" class="btn btn-primary" />
          </fieldset>	
		</form> 
 

	</div>
  
</div>



<!--class="menu col-lg-1"-->
<div *ngIf="identity" class="menu col-lg-1">
		<h1 class="titulo-cabecera">
		 <a [routerLink]="['/']" >	
		 	<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
		  {{title}}
		</a>
		</h1>
		<nav id="navigation" >
		    <a href="#">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Buscar
		    </a>	
		    <a [routerLink]="['/canalesRadio',1]" [routerLinkActive]="['actived']">
					<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
					Canales de Radio
		    </a>	
		    <a href="#">
					<span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
					Programas
		    </a>	
		    <a href="#">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					Podscast
		    </a>	
		</nav>
        <nav id="usuario_identificado" >

		     <div class="imagen_usuario" >
						<img id="logo-usuario" src="{{url + 'obtener-logo-usuario/' + identity.imagen}}" />
			</div>        	
      		<span id="nombre_de_usuario">
				{{identity.nombre}}  
			</span>
				



	
		    <a [routerLink]="['/mi-cuenta']"  [routerLinkActive]="['actived']" >
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				Mi cuenta
			</a>

			<a (click)="logout()" class="boton-salir">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Salir
			</a>			
        </nav>	
</div>
